
@media screen and (min-width:1200px) {
  


body {
  display: flex;
  flex-direction: column;
  background-image: url('ima.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
 
}


a {
  text-decoration: none;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 5px;
  width: 70px;
  height: 70px;
  font-size: 20px;
  border-radius: 100%;
  color: black;
  font-weight: 700;
  background-color: rgb(178, 236, 212);
  text-align: center;
}

#top:hover {
  cursor: pointer;
  background-color: rgb(121, 153, 140);
}


.test {
  animation: testing 5s linear infinite; }

@keyframes testing {
  0% {
    box-shadow: 10px 10px 1em  rgb(231, 149, 17, 0.7)}

  20% { 
    box-shadow: 5px 5px 0.5em rgb(231, 149, 17, 0.7);
  }

  40% { 
    box-shadow: 7px 7px 0.75em rgb(231, 149, 17, 0.7);
  }

  70% { 
    box-shadow:3px 3px 0.25em rgb(231, 149, 17, 0.7);
  }

  100% { 
    box-shadow: 8px 8px 0.8em rgb(231, 149, 17, 0.7);
  }
    
}
    



header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}





#link-bio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}



#me {

  font-size: 50px;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900; 
  color:white;
  
}
  
.icones-header {
  height: 40px;
  border-radius: 5px;
  opacity: none;
}

.icones-header:hover {
  height: 70px;
  cursor: pointer;

}


#indice {
  height:  400px;
  margin-top: 30px;
}

#indice ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

}

#indice  li a {
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 35px;
  font-weight: 700;
  color:white;
  width: 100px;
  height: 40px;
  padding: 20px;
  box-shadow: 10px 10px 1em rgb(231, 149, 17, 0.7);
}

#indice li a:hover {
  background-color: rgb(129, 166, 187, 0.8);
  color: yellow;
  cursor: pointer;
  width: 150px;
  height: 60px;
  font-size: 45px;
}


#about-me {
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  box-shadow: 10px 10px 1em rgb(231, 149, 17, 0.7);
  align-items: center;
  border-radius: 10px;
}

.sobremim {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: justify;
}

#mypicture {
  display: flex;
  height: 300px;
  border-radius: 100%;
}

#mypicture2 {
  display: none;
}

#softskills {
  margin-top: 70px;
  
}


#softskills ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-content: space-around;

  height: 250px;
}

#softskills ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  font-size: 30px;
  height: 90px;
  color: white;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  box-shadow: 5px 5px 0.5em rgb(231, 149, 17, 0.7);
}

#softskills ul li:hover {
  background-color: rgb(129, 166, 187, 0.7);
  color: yellow;
height: 120px;
width: 350px;
cursor: pointer;
font-size: 40px;

}


#hardskills {
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 10px 10px 1em rgb(231, 149, 17, 0.7);
}

#hardskills ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 200px;
  
}

#unit-test {
  width: 450px;
  background-color: tomato;
  height: 90px;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  font-size: 60px;
  
}

#hof {
  background-color: green;
  width: 450px;
  height: 90px;
  font-size: 300px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 60px;
  
}

#hardskills ul li img {
  height: 90px;
  
  border-radius: 5px;
  
}

}