.about-me {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin-top: 4%;
  width: 100%;
}

.about-div {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.about-div img {
  border-radius: 100%;
  width: 20%;
}

.text-aboutme {
  display: flex;
  color: white;
  flex-direction: column;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  text-align: justify;
  width: 65%;
}

.text-aboutme a {
  color: white;
  font-weight: 800;
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {

  .about-me {
    height: 100%;
  }

  .about-div {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
  }

  .about-div img {
    border-radius: 100%;
    width: 30%;
  }
  
}