.main-contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 4%;
  width: 100%;
}

.nav-contact {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}

.nav-contact a {
  width: 20%;
}

.nav-contact a:hover {
  width: 22%;
}

.nav-contact a img {
  border-radius: 10px;
  width: 100%;
}

.btn-curriculo {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 15%;
}

.btn-curriculo a {
  color: hsl(0, 0%, 0%);
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.btn-curriculo a button {
  display: flex;
  align-items: center;
  background-color: rgb(54, 54, 54) !important;
  color: white;
  justify-content: center;
  height: 50px;
  margin-top: 0 !important;
  border-style: none;
  font-size: 65%;
  font-weight: 500;
  width: 100%;
}

.btn-curriculo:hover {
  width: 20%;
}


.btn-curriculo a:hover {
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.container-email { 
  align-self: center;
  color: white;
  margin-top: 6%;
  width: 80%;
}

.input {
  margin: 10px;
  width: 100%;
}

form {
  margin-bottom: 10px;
}

@media screen and (max-width: 950px) {

  .btn-curriculo a button {
  font-size: 63%;
  height: 40px;
}
}

@media screen and (max-width: 600px) {

  .btn-curriculo a button {
  height: 25px;
  font-size: 30%
}

@media screen and (max-width: 450px) {

  .btn-curriculo a button {
    height: 20px;
  font-size: 25%
}
}
}