.main-container {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  margin-bottom: 10px;
}

.btns-section {
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1%;
  width: 100%;
}

.btns-section button {
  background-color: black;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 700;
  margin: 30px;
  padding: 5px;
  width: 10%;
}

.btns-section button:hover {
  color: gray;
  cursor: pointer;
}

.btns-section button:focus {
  background-color: rgb(255, 255, 255, 0.8);
  color: black;
}

.main-content {
  background-color: black;
  display: flex;
  height: 100%;
  width: 90%;
}

@media screen and (max-width: 850px){
  .main-container {
    margin-bottom: 100px;
  }
  
  .btns-section {
    justify-content: center;
    width: 100%;
  }

  .btns-section button {
    font-size: 90%;
    margin: 5px;
    width: 22%;
  }
}

@media screen and (max-width: 450px){

  .btns-section {
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }

  .btns-section button {
    margin: 2%;
    font-size: 13px;
    width: 20%;
  }

}
  