
main.main-content {
  justify-content: center;
}

.carousel-container {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  height:100%;
  width: 80%;
}
.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
}



.carousel-card  {
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
}

.carousel-card div {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
}

.carousel-card div img {
  border-radius: 10px;
  width: 100%;
}


.carousel-text {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.carousel-text p {
  color: gray;
}

.carousel-text nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.carousel-text nav a {
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  width: 45%;
}

.carousel-text nav a:hover {
  background-color: white;
}

.carousel-inner {
  width: 60% !important;
}

.carousel-fade {
  height: 100%;
}

.carousel-indicators {
  display: none !important;
}

@media screen and (max-width: 1200px) {

  main.main-content {
    margin-top: 5%;
    width: 100%;;
  }

  .carousel-inner {
    width: 70% !important;
  }


.carousel {
  width: 100%;
}

  .carousel-text nav {
    align-items: center;
    flex-direction: column;
  }
  
  .carousel-text nav a {
    margin: 1%;
    width: 100%;
  }
}
  
@media screen and (max-width: 600px) {
  main.main-content {
    margin-top: 15%;
    width: 100%;;
  }


  .carousel-container {
    width: 100%;
  }

  .carousel-text nav {
    align-items: center;
    flex-direction: column;
  }
  
  .carousel-text nav a {
    margin: 1%;
    width: 100%;
    font-size: 70%;
  }

  .carousel-inner {
    width: 70% !important;
  }


.carousel {
  width: 100%;
}
}

@media screen and (max-width: 490px) {
  .carousel-text nav {
    align-items: center;
    flex-direction: column;
  }
  
  .carousel-text nav a {
    margin: 1%;
    width: 100%;
    font-size: 40%;
  }
}